.theme--light.v-application {
    background-color: #fff!important;
}
.application {
    font-family: 'Roboto Regular', sans-serif;
}
.v-application .primary--text {
    color: #000!important;
}
.wrapper {
     width: 1000px !important;
     margin: auto;
     position: relative;
}
.v-application a {
    text-decoration: none;
    color: #000!important;
}
@media (min-width: 1200px) {
    .wrapper {
        width: 1170px;
    }
}
@media (min-width: 992px) {
    .wrapper {
        width: 970px;
    }
}
@media (min-width: 768px) {
    .wrapper {
        width: 750px;
    }
}
@media (max-width: 768px) {
    .wrapper {
        width: auto;
    }
}
